body{
    margin-left: 20px;
    margin-right: 20px;
    font-family: ‘Quattrocento’, Georgia, “Times New Roman” serif;
    background-color: cornflowerblue;
    
}
.headImage{
    background-image: url("bioimages/background3.jpg");
   min-height: 250px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container{
    position: absolute;
    margin:20px;
    width: auto;
    font-size: 17px;
    /*To put navbar at a bottom*/
    display: block;
    bottom: 0;
}
#bio_text h1{
    text-align: center;
    color: black;
    font-weight: bold;

    font-family: ‘Quattrocento’, Georgia, “Times New Roman” serif
}

h2{font-weight: bold;
    font-family: ‘Quattrocento’, Georgia, “Times New Roman” serif}

#hobby_text h1{
    text-align: center;
    color: black;
    font-weight: bold;
    font-family: ‘Quattrocento’, Georgia, “Times New Roman” serif
}
#navbar{
    overflow: hidden;
    
    
    /*padding: 15px 15px;
    height: 60px;*/
}
#navbar a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    padding: 14px 16px;
        
}
#navbar a:hover{background-color: burlywood;
        color: black;
}

#intro{
    text-align: center;
    font-size: large;
    font-style: italic;
} 
#portrait_image img{
    /*center image*/
    display: block;
    margin: 0px auto;
    border-radius: 100px;
    /*cirlce image
    border-radius: 50%;
    width: 100px;
    height: 100px;*/
}
p{
    font-size: large;
    font-family: ‘Quattrocento’, Georgia, “Times New Roman” serif;
    border-bottom:10px ;  
}

#hobby_images{
    overflow: auto;
    align-items: center ;
}

.image1, .image2, .image3{
    float: left;
    width: 370px;
    padding: 10px;   
}

#hobby_images{
    text-align: center;
}
#hobby_images img{width: 300px;
    height: 200px;}

/*#goal-images img{width: 300px;
    height: 200px;

}*/

#goal-images{
    overflow: auto;
    align-items: center ;
    text-align: center;
}


.houseImage1{
    float:left;
    position: relative;
  width: 100%;
  margin: 0 auto;
}
/*position clear text on image*/
.houseImage1 .housetext{position: absolute;
  bottom: 5px;
  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 15px;
  }

  .houseImage1 img{
    width: 35%;
        height: 300px;
        
}

/*.image5 {
    float:left;
    margin-left: 10px;
    width: 40%;
}

.image6 {
    float: left;
    margin-right: 10px;
    width: 40%;
}

    .image5 img{margin-right: 10px;}*/

    .gallery {
        margin: 30px;
        /*border: 1px solid #ccc;*/
        float: left;
        width: 40%;
        align-items: center;
        
      }

      .gallery img {
        width: 80%;
        height: 300px;
      }
      
      .description {
        padding: 15px;
        text-align: center;
      }

     #contact{
        font-style: italic;
        /*font-weight: bold;*/
     }
     #facebook{
        font-weight: bold;
        color: blue;
     }
     #facebook:hover{
        color: red;
     }
     footer a:hover{
         color: red;
         
     }
     footer a{text-decoration: none;
         color: black;
     }
     footer a{
         color: black;
         font-weight: 400;
         float: right;
         padding-right: 7px;
         font-style: normal;
         border-style:solid;
    border-radius: 30px 30px 30px 30px;
    font-size: large;
    margin-right: 20px;
    text-align: center;
     }

     
     
